<html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
	body {
		color: #fff;
		background: #3b5998;
		font-family: 'Roboto', sans-serif;
	}
  .form-control{
    border: none;
		height: 50 px;
		background: #f2f2f2;
		box-shadow: none;
	}
  .form-control:focus{
		background: #dddddd;
	}
	.login-form{
    margin-left: auto;
    margin-right: auto;
    margin: 30px auto;
		width: 400px;
	}
	.login-form form{
    border-radius: 25px;
		color: #999;
    background: #fff;
    padding: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
	.login-form h2 {
		color: #000000;
		font-weight: bold;
  }
   
  .login-form .btn{    
    font-weight: bold;    
    font-size: 16px; 
		background: #3b5998;
  }

</style>
</head>

<body>
  <div class="login-form">
    <form id="loginform" action="/checklogin" method="post" style="padding-top: 1vw">
      <h2>Login</h2>
      <hr>
      <div class="form-group"> 
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>     
      <br>
      <a href="/signup">Click here to sign up</a>
      
      </div>
  </div>
  </body>


<script>
  $(document).ready(function() {
          $("#loginform").submit(function(event) {
              event.preventDefault();
              const data = {
                  username: document.getElementById("username").value,
                  password: document.getElementById("password").value,
              };
              $.post("/checklogin", data, function(x) {
                  if (x.success) {
                      window.location.assign("/feed");
                  } else {
                      alert(x.msg);
                  }
              });
          });
      });
</script>
</html>