<!DOCTYPE html>
<html>
  <head>
    <title>PennBook</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      navbar{
        background: #4267B2;
      }
      .form-control {
        border-radius: 10px;
        margin-bottom: 5px;
      }
      .form-control:hover{
        background-color: #f0f0f0;
      }
      .form-control:focus{
        background-color: #f0f0f0;
      }
      .card{
        border-radius: 10px;
        width: 500px;
        font-family: 'Helvetica';
        border: 1px solid #DCDCDC;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      }
      .card-title{
        font-family: Helvetica, sans-serif;
        padding: 5px;
      }
      .card-text{
        font-family: Helvetica, sans-serif;
        padding: 5px;
      }
      .comment-card{
        background: #f7f7f7;
        width: 350px;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 2px;
        padding: 5px;
        
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        border: 1px solid #DCDCDC;
        padding: 10px;
        
      }
      .card-subtitle{
        font-weight: bold;
        font-family: Helvetica, sans-serif;
        font-size: 12px;
        padding: 5px;
      }
      .form-group{
        margin-left: 10px;
      }
  
      .btn {
        width: 100px;
        padding: auto;
        font-family: Helvetica, sans-serif;
        color: white;
        border-radius: 3px;
        box-shadow: none;
        border-radius:3px;
        border: none;
        position: relative;
        transition: all .25s ease-in-out;
        margin-bottom: 5px;
        margin-left: 5px;
      }
      .sendcomment-button:hover{
        background-color: #0066ff;
      }

      .dot-green {
        height: 5px;
        width: 5px;
        margin-bottom: 2px;
        background-color: #0f0;
        border-radius: 50%;
        display: inline-block;
      }

      .dot-red {
        height: 5px;
        width: 5px;
        margin-bottom: 2px;
        background-color: rgb(255, 0, 0);
        border-radius: 50%;
        display: inline-block;
      }

      .friends-list{
        width: 20%;
        float: right;
        margin-top: 0px;
        margin: 5px;
        padding:5px;
        position: absolute;
        position: fixed;
        right:0;
      }
      .icon-blue{
        color:rgb(51, 51, 248);
      }
      ul {
        width: 25%;
        padding:0;
        background-color: #f5f4f4;
        color: black;
        position: fixed;
        height: 100%;
        list-style-type: none;
      }
      li a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 20px 20px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      li a.active {
        background-color: #6c80db;
      }

      li a:hover:not(.active) {
        background-color: rgb(214, 214, 214);
      }
      body{
        background: #f8f8f8;
      }
      html {
          height: 100%;
      }
    </style>
  </head>


  <body>
    <ul>
      <li class="nav-item disabled">
        <a class="nav-link" style="color:black" href="/feed">
          <i class="glyphicon glyphicon-globe icon-blue"></i><span>  Feed</span>
        </a>
      </li>
      <li class="nav-item">
        <a id="wall-nav-bar" style="color:black" class="nav-link" href="/wall">
          <i class="glyphicon glyphicon-user icon-blue"></i><span>  Wall</span>
        </a>
      </li>
      <li class="nav-item">
        
        <a class="nav-link" style="color:black" href="/chat">
          <i class="glyphicon glyphicon-comment icon-blue"></i><span>  Chat</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:black" href="/visualizer">
          <i class="glyphicon glyphicon-stats icon-blue"></i><span>  Visualizer</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:black" href="/settings">
          <i class="glyphicon glyphicon-cog icon-blue"></i><span>  Settings</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:black" href="/search">
          <i class="glyphicon glyphicon-search icon-blue"></i><span>  Search</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:black" href="/newsfeed">
          <i class="glyphicon glyphicon-list icon-blue"></i><span>  News</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:black" href="/searchnews">
          <i class="glyphicon glyphicon-search icon-blue"></i><span>  Search News</span>
        </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" style="color:black" href="/signout">
        <i class="glyphicon glyphicon-off icon-blue"></i><span>  Sign Out</span>
      </a>
    </li>
    </ul>
    <div id="friends" class = "friends-list">
      <h2>Friends</h2>
      <ul id="friends-list">
      </ul>
    </div>
    <div class = "card" id="post-box">
      <form id="make-post-form">
        <div class="form-group">
          <input id="make-post-text" type="text" class="form-control" id="make-post-text" placeholder="Write a post here">
        </div style="width=400px; padding: 10px; margin: auto">
        <input id="make-post-button" type="submit" class="btn btn-primary" 
          style="margin-left: 10px; width: 468px; border-radius: 5px" value="Make Post">
      </form>
    </div>
    <!--btn btn-primary   display: inline-block; -->
    <div class="things" style="display: flex">
      <div id="posts" style="margin: 0 auto; padding: 0px"></div>
      <!--<div id="friends" class="container" style="display: inline-block; margin-right: 0; width: 20%; padding: 0px">
        <h2>Friends</h2>
        <ul id="friends-list">
        </ul>
      </div>-->
    </div>
  </body>
  <script>
    function submitComment(event) {
        event.preventDefault();
        var s = String(event.target.id).substring(1);
        const data = {
          content : document.getElementById(s).value,
          authortime : s
        }
        if (data.content.length == 0) {
          alert("You cannot make an empty comment");
        } else {
          $.post("/makecomment", data, function(x) {
            if (x.success) {
              window.location.assign("/feed");
            } else {
              alert(x.msg);
            }
          });
        }
    }

    function getPosts() {
      $.post("/getposts", {}, function(output) {
        const form_ids = [];
        const posts = output.data;
        posts.sort((x, y) => y.timestamp - x.timestamp);
        var str = "";
        posts.forEach(function(post) {
          const date = new Date(post.timestamp);
          var dateString = date.toString().substring(4, 21);
          var text = '<div class="card"><div class="card-body"><h5 class="card-title"><b>' + post.author + 
            '</b><h6 class="card-subtitle mb-2 text-muted">' + dateString + 
            '<hr/></h6><p class="card-text">' + post.content + 
            '<hr/></p></div>';
          post.comments.forEach(function(comment) {
            const commentDate = new Date(parseInt(comment.timestamp));
            var cDateString = commentDate.toString().substring(4, 21);
            text = text + '<div class = "comment-card"><h5 class="card-subtitle">' + comment.author + '</h5>';
            text = text + '<h6 class="card-subtitle mb-2 text-muted">' + cDateString + '</h6>';
            text = text + '<p class="card-text">' + comment.content + '</p></div>';
          });
          
          const commentFormId = 'make-comment-form-' + post.author + "$" + post.timestamp;
          text = text + '<form id="' + commentFormId + '">'  
            + '<div class="form-group">'
            + '<input id="' + post.author + "$" + post.timestamp + '-make-comment-text" type="text" class="form-control" placeholder="Enter comment">'
            + '</div>'
            + '<input id="make-comment-button" type="submit" class="btn btn-primary" value="Post">'
            + '</form>'
            + '</div></div>';
          str += text;
          form_ids.push(commentFormId);
        });
        $("#posts").html(str);
        form_ids.forEach(function(id) {
          var temp = '#' + id;
          const key = temp.substring(19);
          temp = temp.replace(/\$/g, "\\$");
          $(temp).submit(function(event) {
            event.preventDefault();
            const data = {
              key: key,
              content: document.getElementById(key + '-make-comment-text').value
            };
            if (data.content.length === 0) {
              alert("You cannot make an empty comment.");
            } else {
              $.post("/makecomment", data, function(x) {
                if (x.success) {
                  getPosts(); // REPLACE LATER WITH NON-RELOAD FUNCTION
                } else {
                  alert(x.msg);
                }
              });
            }
          });
        });
      });
    }

    function getFriends() {
      const username = "<%= username %>";
      $.post("/getfriends", {}, function(x) {
        const friends = x.data.friends.SS;
        friends.forEach(function(friend) {
          if (friend === username) {
            return;
          }
          $.post("/getlastaction", {username: friend}, function(x) {
            const isLoggedIn = x.data;
            if (isLoggedIn) {
              $("#friends-list").append("<li> <a href=\"/wall?username=" + friend + "\">" + friend + " <span class=\"dot-green\"></span>" + "</a>" + "</li>");
            } else {
              $("#friends-list").append("<li> <a href=\"/wall?username=" + friend + "\">" + friend + " <span class=\"dot-red\"></span>" + "</a>" + "</li>");
            }
          });
        });
      });
    }

    function refreshPosts() {
      getPosts();
      setTimeout(refreshPosts, 15000);
    }

    $(document).ready(function() {
      getFriends();
      $("#wall-nav-bar").attr("href", "/wall?username=<%= username %>");
      $("#make-post-form").submit(function(event) {
        event.preventDefault();
        const data = {
          content : document.getElementById("make-post-text").value
        }
        if (data.content.length === 0) {
          alert("You cannot make an empty post");
        } else {
          $.post("/makepost", data, function(x) {
            if (x.success) {
              getPosts();
              document.getElementById("make-post-text").value = "";
            } else {
                alert(x.msg);
            }
          });
        }
      });
      refreshPosts();
    });
  </script>
</html>