<!DOCTYPE html>
<html>
  <head>
    <title>Settings</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      navbar{
        background: #4267B2;
      }
      .form-control {
        border-radius: 10px;
        margin-bottom: 5px;
      }
      .form-control:hover{
        background-color: #f0f0f0;
      }
      .form-control:focus{
        background-color: #f0f0f0;
      }
      .card{
        border-radius: 10px;
        width: 500px;
        font-family: 'Helvetica';
        border: 1px solid #DCDCDC;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      }
      .card-title{
        font-family: Helvetica, sans-serif;
        padding: 5px;
      }
      .card-text{
        font-family: Helvetica, sans-serif;
        padding: 5px;
      }
      .comment-card{
        background: #f7f7f7;
        width: 350px;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 2px;
        padding: 5px;
        
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        border: 1px solid #DCDCDC;
        padding: 10px;
        
      }
      .card-subtitle{
        font-weight: bold;
        font-family: Helvetica, sans-serif;
        font-size: 12px;
        padding: 5px;
      }
      .form-group{
        margin-left: 10px;
      }
  
      .btn {
        width: 150px;
        padding: auto;
        font-family: Helvetica, sans-serif;
        color: white;
        border-radius: 3px;
        box-shadow: none;
        border-radius:3px;
        border: none;
        position: relative;
        transition: all .25s ease-in-out;
        margin-bottom: 5px;
        margin-left: 5px;
      }
      .sendcomment-button:hover{
        background-color: #0066ff;
      }

      .dot-green {
        height: 5px;
        width: 5px;
        margin-bottom: 2px;
        background-color: #0f0;
        border-radius: 50%;
        display: inline-block;
      }

      .dot-red {
        height: 5px;
        width: 5px;
        margin-bottom: 2px;
        background-color: rgb(255, 0, 0);
        border-radius: 50%;
        display: inline-block;
      }

      .friends-list{
        width: 20%;
        float: right;
        margin-top: 0px;
        margin: 5px;
        padding:5px;
        position: absolute;
        position: fixed;
        right:0;
      }
      .icon-blue{
        color:rgb(51, 51, 248);
      }
      ul {
        width: 25%;
        padding:0;
        background-color: #f5f4f4;
        color: black;
        position: fixed;
        height: 100%;
        list-style-type: none;
      }
      li a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 20px 20px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      li a.active {
        background-color: #6c80db;
      }

      li a:hover:not(.active) {
        background-color: rgb(214, 214, 214);
      }
      body{
        background: #f8f8f8;
      }
      html {
          height: 100%;
      }
    </style>
  </head>
  <body>
    <div>
      <ul>
        <li class="nav-item disabled">
          <a class="nav-link" style="color:black" href="/feed">
            <i class="glyphicon glyphicon-globe icon-blue"></i><span>  Feed</span>
          </a>
        </li>
        <li class="nav-item">
          <a id="wall-nav-bar" style="color:black" class="nav-link" href="/wall">
            <i class="glyphicon glyphicon-user icon-blue"></i><span>  Wall</span>
          </a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" style="color:black" href="/chat">
            <i class="glyphicon glyphicon-comment icon-blue"></i><span>  Chat</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="/visualizer">
            <i class="glyphicon glyphicon-stats icon-blue"></i><span>  Visualizer</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="/settings">
            <i class="glyphicon glyphicon-cog icon-blue"></i><span>  Settings</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="/search">
            <i class="glyphicon glyphicon-search icon-blue"></i><span>  Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="/newsfeed">
            <i class="glyphicon glyphicon-list icon-blue"></i><span>  News</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:black" href="/searchnews">
            <i class="glyphicon glyphicon-search icon-blue"></i><span>  Search News</span>
          </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color:black" href="/signout">
          <i class="glyphicon glyphicon-off icon-blue"></i><span>  Sign Out</span>
        </a>
      </li>
      </ul>
    </div>
    <div id="current-info" style="width: 468px; border-radius: 5px; height: 80%; align-self: center; margin: 0 auto;"></div>
    <div id="change-settings" style="width: 468px; border-radius: 5px; height: 80%; align-self: center; margin: 0 auto;">
        <form id="change-email">
            <div class="form-group">
                <label for="new-email">Enter New Email</label>
                <input type="email" class="form-control" id="new-email" placeholder="Enter new email">
            </div>
            <input type="submit" class="btn btn-primary" value="Change Email">
        </form>
        <form id="change-password">
            <div class="form-group">
                <label for="new-password">Enter New Password</label>
                <input type="password" class="form-control" id="new-password" placeholder="Enter new password">
            </div>
            <input type="submit" class="btn btn-primary" value="Change Password">
        </form>
        <form id="change-affiliation">
            <div class="form-group">
                <label for="new-affiliation">Enter New Affiliation</label>
                <input type="text" class="form-control" id="new-affiliation" placeholder="Enter new affiliation">
            </div>
            <input type="submit" class="btn btn-primary" value="Change Affiliation">
        </form>
        <form id="change-interests">
            <div class="form-group">
                <label for="interests">Interests:</label>
                <select multiple class="form-control" id="interests" name="interests">
                    <option>POLITICS</option>
                    <option>WELLNESS</option>
                    <option>ENTERTAINMENT</option>
                    <option>TRAVEL</option>
                    <option>STYLE & BEAUTY</option>
                    <option>PARENTING</option>
                    <option>HEALTHY LIVING</option>
                    <option>QUEER VOICES</option>
                    <option>FOOD & DRINK</option>
                    <option>BUSINESS</option>
                    <option>COMEDY</option>
                    <option>SPORTS</option>
                    <option>BLACK VOICES</option>
                    <option>HOME & LIVING</option>
                    <option>PARENTS</option>
                    <option>THE WORLDPOST</option>
                    <option>WEDDINGS</option>
                    <option>WOMEN</option>
                    <option>IMPACT</option>
                    <option>DIVORCE</option>
                    <option>CRIME</option>
                    <option>MEDIA</option>
                    <option>WEIRD NEWS</option>
                    <option>GREEN</option>
                    <option>WORLDPOST</option>
                    <option>RELIGION</option>
                    <option>STYLE</option>
                    <option>SCIENCE</option>
                    <option>WORLD NEWS</option>
                    <option>TASTE</option>
                    <option>TECH</option>
                    <option>MONEY</option>
                    <option>ARTS</option>
                    <option>FIFTY</option>
                    <option>GOOD NEWS</option>
                    <option>ARTS & CULTURE</option>
                    <option>ENVIRONMENT</option>
                    <option>COLLEGE</option>
                    <option>LATINO VOICES</option>
                    <option>CULTURE & ARTS</option>
                    <option>EDUCATION</option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Change Interests">
        </form>
    </div>
  </body>
  <script>
    const user = "<%= username %>";
    $(document).ready(function() {
        $("#wall-nav-bar").attr("href", "/wall?username=<%= username %>");
        $("#current-info").append("<h1>" + user + "'s Settings</h1>");

        $("#change-email").submit(function(event) {
            event.preventDefault();
            const data = {
                newEmail: document.getElementById("new-email").value 
            };
            if (data.newEmail.length === 0) {
                alert("You cannot change to an empty email");
            } else {
                $.post("/changeemail", data, function(x) {
                    if (x.success) {
                        document.getElementById("new-email").value = "";
                        alert("Successfully changed email!");
                    } else {
                        alert(x.msg);
                    }
                });
            }
        });

        $("#change-password").submit(function(event) {
            event.preventDefault();
            const data = {
                newPassword: document.getElementById("new-password").value 
            };
            if (data.newPassword.length === 0) {
                alert("You cannot change to an empty password");
            } else {
                $.post("/changepassword", data, function(x) {
                    if (x.success) {
                        document.getElementById("new-password").value = "";
                        alert("Successfully changed password!");
                    } else {
                        alert(x.msg);
                    }
                });
            }
        });

        $("#change-affiliation").submit(function(event) {
            event.preventDefault();
            const data = {
                newAffiliation: document.getElementById("new-affiliation").value 
            };
            if (data.newAffiliation.length === 0) {
                alert("You cannot change to an empty affiliation");
            } else {
                $.post("/changeaffiliation", data, function(x) {
                    if (x.success) {
                        document.getElementById("new-affiliation").value = "";
                        alert("Successfully changed affiliation!");
                    } else {
                        alert(x.msg);
                    }
                });
            }
        });

        $("#change-interests").submit(function(event) {
            event.preventDefault();
            const data = {
                newInterests: $("#interests").val() 
            };
            if (data.newInterests.length < 2) {
                alert("You must have at least two interests.");
            } else {
                $.post("/changeinterests", data, function(x) {
                    if (x.success) {
                        alert("Successfully changed interests!");
                    } else {
                        alert(x.msg);
                    }
                });
            }
        });
    });
  </script>
</html>