<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    body {
      color: #fff;
      background: #3b5998;
      font-family: 'Roboto', sans-serif;
    }
    .form-control{
      border: none;
      height: 50 px;
      background: #f2f2f2;
      box-shadow: none;
    }
    .form-control:focus{
      background: #dddddd;
    }
    .signup-form{
      margin-left: auto;
      margin-right: auto;
      margin: 30px auto;
      width: 400px;
    }
    .signup-form form{
      border-radius: 25px;
      color: #999;
      background: #fff;
      padding: 20px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .signup-form h2 {
      color: #000000;
      font-weight: bold;
    }
     
    .signup-form .btn{    
      font-weight: bold;    
      font-size: 16px; 
      background: #3b5998;
    }
  </style>
</head>
<body>
<div class="signup-form">
    <form id = "signupform" action="/createaccount" method="post">
		<h2>Sign Up</h2>
		<hr>
    <div class="form-group">
			<div class="row">
				<div class="col-xs-6">
          <label for="firstname">First Name:</label>
          <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name">
        </div>
				<div class="col-xs-6">
          <label for="lastname">Last Name:</label>
          <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name">
        </div>
			</div>   
      <br>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
      </div>     	
        </div>
        <div class="form-group">
        	<label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="affiliation">Affiliation:</label>
          <input type="text" class="form-control" id="affiliation" name="affiliation" placeholder="Enter affiliation">
        </div>
        <div class="form-group">
          <label for="birthday">Birthday:</label>
          <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Enter birthday">
        </div>
        <div class="form-group">
          <label for="interests">Interests:</label>
          <select multiple class="form-control" id="interests" name="interests">
            <option>POLITICS</option>
            <option>WELLNESS</option>
            <option>ENTERTAINMENT</option>
            <option>TRAVEL</option>
            <option>STYLE & BEAUTY</option>
            <option>PARENTING</option>
            <option>HEALTHY LIVING</option>
            <option>QUEER VOICES</option>
            <option>FOOD & DRINK</option>
            <option>BUSINESS</option>
            <option>COMEDY</option>
            <option>SPORTS</option>
            <option>BLACK VOICES</option>
            <option>HOME & LIVING</option>
            <option>PARENTS</option>
            <option>THE WORLDPOST</option>
            <option>WEDDINGS</option>
            <option>WOMEN</option>
            <option>IMPACT</option>
            <option>DIVORCE</option>
            <option>CRIME</option>
            <option>MEDIA</option>
            <option>WEIRD NEWS</option>
            <option>GREEN</option>
            <option>WORLDPOST</option>
            <option>RELIGION</option>
            <option>STYLE</option>
            <option>SCIENCE</option>
            <option>WORLD NEWS</option>
            <option>TASTE</option>
            <option>TECH</option>
            <option>MONEY</option>
            <option>ARTS</option>
            <option>FIFTY</option>
            <option>GOOD NEWS</option>
            <option>ARTS & CULTURE</option>
            <option>ENVIRONMENT</option>
            <option>COLLEGE</option>
            <option>LATINO VOICES</option>
            <option>CULTURE & ARTS</option>
            <option>EDUCATION</option>
          </select>
        </div>
        <br>     
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </form>
</div>
</body>
<script>
  $(document).ready(function() {
          $("#signupform").submit(function(event) {
              event.preventDefault();
              var firstname = document.getElementById("firstname").value;
              firstname = firstname.toLowerCase();
              firstname = firstname.charAt(0).toUpperCase() + firstname.slice(1);
              var lastname = document.getElementById("lastname").value
              lastname = lastname.toLowerCase();
              lastname = lastname.charAt(0).toUpperCase() + lastname.slice(1);
              const data = {
                  username: document.getElementById("username").value,
                  password: document.getElementById("password").value,
                  firstname: firstname,
                  lastname: lastname,
                  email: document.getElementById("email").value,
                  affiliation: document.getElementById("affiliation").value,
                  birthday: document.getElementById("birthday").value,
                  interests: $("#interests").val()
              };
              $.post("/createaccount", data, function(x) {
                  if (x.success) {
                      window.location.assign("/feed");
                  } else {
                      alert(x.msg);
                  }
              });
          });
      });
</script>
</html>